<h1 class="mt-3">wecome to {{user}}</h1>
<div class="container-fluid row mb-5 p-5">
    <div class="text-center container col-lg-6 col-md-12">
        <div class="container w-75 rounded text-center p-5 mt-2"
            style="background-color:rgb(194, 165, 165); opacity:0.8;">
            <h1 class="text-white">Deposit</h1>
            <form action="">
                <div class="p-3 mt-2"><input [(ngModel)]="acno" id="acid" name="acnum1" class="form-control" type="text"
                        placeholder="Enter account number"></div>
                <div class="p-3 mt-2"><input [(ngModel)]="psw" id="psw1" name="paswrd1" class="form-control" type="password "
                        placeholder="Enter Password"></div>
                <div class="p-3 mt-2"><input [(ngModel)]="amnt" id="amouid" name="amnt1" class="form-control" type="text"
                        placeholder="Amount">
                </div>

                <div class="p-3 mt-2"><button (click)="deposit()" type="button" class="btn btn-light">deposit</button></div>


            </form>

        </div>
    </div>

    <div class="text-center container col-lg-6 col-md-12">
        <div class="container w-75 rounded text-center p-5 mt-2"
            style="background-color:rgb(194, 165, 165); opacity:0.8;">
            <h1 class="text-white">Withdraw</h1>
            <form action="">
                <div class="p-3 mt-2"><input [(ngModel)]="acno1" id="acid2" name="acnum2" class="form-control" type="text"
                        placeholder="Enter account number"></div>
                <div class="p-3 mt-2"><input [(ngModel)]="psw1" id="psw2" name="paswrd2" class="form-control" type="password "
                        placeholder="Enter Password"></div>
                <div class="p-3 mt-2"><input [(ngModel)]="amnt1" id="amouid1" name="amnt2" class="form-control" type="text"
                        placeholder="Amount"></div>

                <div class="p-3 mt-2"><button (click)="withdraw()" type="button" class="btn btn-light">Withdraw</button></div>


            </form>

        </div>
    </div>
</div>