<div class="text-center text-white mt-3">
    <h5>{{datedetails | date:'short'}}</h5>
</div>
<div class="text-start p-3 pe-4">
    <button (click)="deleteac()" class="btn btn-danger" type="button">Delete Account</button>
    <button  (click)="logout()" class="btn btn-warning ms-2" type="button">Log out</button>
</div>
<h1 [ngClass]="acno?'style':'' " class="mt-1" style="color: rgb(165, 223, 165);">welcome {{user}}</h1>

<div [ngClass]="acno?'style':'' " class="mt-3 p-2 w-25 container text-center  border rounded-pill"style="background-color:rgb(194,165,165);">
<a style="text-decoration: none; color: rgb(255, 255, 255);" routerLink="/transaction">VIew Transaction History</a>
</div>

<app-deleteconfirm (oncancel)="cancel()" [item]="acno"></app-deleteconfirm>

<div [ngClass]="acno?'style':'' " class="container-fluid row mb-5 p-5">
    <div  class="text-center container col-lg-6 col-md-12">
        <div class="container w-75 rounded text-center p-5 mt-2"
            style="background-color:rgba(65,58,42,0.58); ">
            <h1 class="text-white">Deposit</h1>
            <form [formGroup]="depositForm" action="">
                <div class="p-3 mt-2"><input formControlName="acno" id="acid" name="acnum1" class="form-control" type="text"
                        placeholder="Enter account number"></div>
                        <div *ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched">
                            <p class="text-danger">accept only numbers</p>
                            </div>
                <div class="p-3 mt-2"><input formControlName="psw" id="psw1" name="paswrd1" class="form-control" type="password"
                        placeholder="Enter Password"></div>
                        <div *ngIf="this.depositForm.get('psw')?.errors && this.depositForm.get('psw')?.touched">
                            <p class="text-danger">accept only numbers and charectors</p>
                            </div>  
                <div class="p-3 mt-2"><input formControlName="amnt" id="amouid" name="amnt1" class="form-control" type="text"
                        placeholder="Amount">
                </div>
                <div *ngIf="this.depositForm.get('amnt')?.errors && this.depositForm.get('amnt')?.touched">
                    <p class="text-danger">accept only numbers</p>
                    </div>
                <div class="p-3 mt-2"><button (click)="deposit()" type="button" class="btn btn-light">deposit</button></div>


            </form>

        </div>
    </div>

    <div  class="text-center container col-lg-6 col-md-12">
        <div class="container w-75 rounded text-center p-5 mt-2"
            style="background-color:rgb(65,58,42,0.58);">
            <h1 class="text-white">Withdraw</h1>
            <form [formGroup]="withdrawForm" action="">
                <div class="p-3 mt-2"><input formControlName="acno1" id="acid2" name="acnum2" class="form-control" type="text"
                        placeholder="Enter account number"></div>
                        <div *ngIf="this.withdrawForm.get('acno1')?.errors && this.withdrawForm.get('acno1')?.touched">
                            <p class="text-danger">accept only numbers</p>
                            </div>
                <div class="p-3 mt-2"><input formControlName="psw1" id="psw2" name="paswrd2" class="form-control" type="password"
                        placeholder="Enter Password"></div>
                        <div *ngIf="this.withdrawForm.get('psw1')?.errors && this.withdrawForm.get('psw1')?.touched">
                            <p class="text-danger">accept only numbers and charectors</p>
                            </div>  
                <div class="p-3 mt-2"><input formControlName="amnt1" id="amouid1" name="amnt2" class="form-control" type="text"
                        placeholder="Amount"></div>
                        <div *ngIf="this.withdrawForm.get('amnt1')?.errors && this.withdrawForm.get('amnt1')?.touched">
                            <p class="text-danger">accept only numbers</p>
                            </div>
                <div class="p-3 mt-2"><button (click)="withdraw()" type="button" class="btn btn-light">Withdraw</button></div>


            </form>

        </div>
    </div>
</div>